<div class="container" data-controller="datepicker"->
  <div class="row justify-content-center my-4">
    <div class="col p-0">
      <h1><strong><%= @power.name %>'s  page</strong></h1>
    </div>
  </div>
  <div class="row">
  <div class="col-6 ps-0">
    <% if @power.photo.attached? %>
      <div class="h-100 rounded" style="background-image: url('<%= cl_image_path @power.photo.key %>'); background-size: cover; background-position: center;"></div>
    <% else %>
      <div class="h-100 rounded default-image-power"></div>
    <% end %>
  </div>
    <div class="col-6 bg-white py-4">
      <strong>Description</strong>
      <p class="pb-3"><%= @power.description %></p>
      <strong>Rarity</strong>
      <p class="pb-3"><%= @power.rarity %></p>
      <strong>Universe</strong>
      <p><%= @power.universe %></p>
      <strong>Price</strong>
      <p data-datepicker-target="price"><%= @power.price %> $ <span class="per-day">/per day</span></p>
    </div>
  </div>
  <h2 class="mt-3">Reviews</h2>
  <hr>
  <% @power.reviews.each do |review| %>
      <div class="d-flex justify-content-between">
        <div class="d-flex"><strong class="me-4">posted by <%= review.booking.user.pseudo %></strong><p class="mb-0"><%= review.content %></p></div>
          <p class="mb-0"><%= review.calculate_time %></p>
      </div>
      <hr>
  <% end %>
  <% if @power.user_id == current_user.id %>
    <div class="row mt-4">
      <div class="col ps-0">
        <%= link_to edit_power_path(@power) do%>
          <button class="button-confirm mt-0">Edit this power</button>
        <% end %>
      </div>
    </div>
  <% else %>
    <div class="row mt-4">
      <div class="col bg-white p-4 my-4">
        <h2>Book <%= @power.name %></h2>
        <%= simple_form_for [@power, @booking] do |f| %>
          <%= f.input :start_date,
                      as: :string,
                      input_html: { data: { datepicker_target: 'startDate', action: "change->datepicker#totalupdate" }, class: "input-comic", placeholder: "Pick a start date" } %>
          <%= f.input :end_date,
                      as: :string,
                      input_html: { data: { datepicker_target: 'endDate', action: "change->datepicker#totalupdate" }, class: "input-comic", placeholder: "Pick a end date" } %>
          <div data-datepicker-target="total"></div>
          <%= f.input :total_price,
                      as: :integer,
                      input_html: {data: { datepicker_target: 'totalInput'}, hidden: true}, label: false %>
          <%= f.submit class: "button-confirm mt-3 mb-2", data_datepicker_action: "submit->datepicker#booking" %>
          <% end %>
      </div>
    </div>
  <% end %>
</div>
