<div class="container">
  <div class="row mt-3">
      <h1 class="text-center mb-5"> Dashboard of <%= @profile.pseudo %></h1>
  </div>
  <div class="row">
    <div class="col-3">
      <div class="card">
        <% if @profile.profile_photo.attached?  %>
        <%= link_to "", edit_user_registration_path(@profile), class: "btn btn-outline-secondary text-white fa-solid fa-pen-to-square position-absolute top-0 end-0" %>
        <%= cl_image_tag @profile.profile_photo.key, alt:"Profile image", crop: :fill %>
        <% else %>
        <%= link_to "", edit_user_registration_path(@profile), class: "btn btn-outline-secondary text-white fa-solid fa-pen-to-square position-absolute top-0 end-0" %>
        <%= image_tag 'avatar.webp', alt: "Profile igmage", crop: :fill %>
        <% end %>
        <div class="card-body">
          <p class="card-text border-bottom py-3"><strong>First name: </strong><%= @profile.first_name %></p>
          <p class="card-text border-bottom py-3"><strong>Last name: </strong><%= @profile.last_name %></p>
          <p class="card-text border-bottom py-3"><i class="fa-solid fa-location-dot"></i> <%= @profile.address %></p>
          <p class="card-text py-3"><i class="fa-solid fa-envelope"></i> <%= @profile.email %></p>
        </div>
      </div>
    </div>
    <div class="col-9">
      <h2>List of your powers/items (<%= @profile.powers.count  %>)</h2>
      <div class="card-container">
        <% @profile.powers.each do |power| %>
        <%= link_to power_path(power), class: "card-link m-auto my-4" do %>
        <div class="card-power">
          <% if power.photo.attached? %>
          <div class="card-img" style="background-image: url(<%= cl_image_path power.photo.key %>)"></div>
          <% else %>
          <div class="card-img"></div>
          <% end %>
          <div class="card-info">
            <p class="text-title <%= 'text-decoration-none' %>"><%= power.name %></p>
            <p class="text-body <%= 'text-decoration-none' %>"><%= power.user.pseudo %></p>
          </div>
          <div class="card-footer">
            <span class="text-title">$<%= power.price %> <p class="per-day">/per day</p></span>
            <div class="card-button">
              <span class="material-symbols-outlined" style="font-weight: 200; font-size: 35px;"> arrow_circle_right </span>
            </div>
          </div>
        </div>
        <% end %>
        <% end %>
      </div>
      <%= link_to "Add power", new_power_path(@power), class: "comic-button"%>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mt-5">
      <h3> My bookings</h3>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Power</th>
            <th scope="col">Price</th>
            <th scope="col">Owner</th>
            <th scope="col">Start</th>
            <th scope="col">End</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <% @profile.bookings.each do |booking| %>
            <td class="align-middle"><%= booking.id%></td>
            <td class="align-middle"><%= booking.power.name%></td>
            <td class="align-middle">$ <%= booking.total_price%></td>
            <td class="align-middle"><%= booking.power.user.pseudo%></td>
            <td class="align-middle"><%= booking.start_date%></td>
            <td class="align-middle"><%= booking.end_date%></td>
            <!-- Button trigger modal -->
            <td class="align-middle">
            <% if booking.end_date < DateTime.now() %>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#reviewModal<%= booking.id %>">
                Add Review
              </button>
            <% end %>
            </td>
            <!-- Modal -->
            <div class="modal fade" id="reviewModal<%= booking.id %>" tabindex="-1" aria-labelledby="reviewModal<%= booking.id %>Label" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="reviewModal<%= booking.id %>Label"><%= booking.power.name %></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <%= simple_form_for [booking, Review.new] do |f| %>
                      <%= f.input :content %>
                      <%= f.submit %>
                    <% end %>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                  </div>
                </div>
              </div>
            </div>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
