<div class="container">
  <div class="row">
      <h1 class="text-center mb-5"> Dashboard of <%= @profile.pseudo %></h1>
    <div class="col-4">
        <div class="card">
          <% if @profile.profile_photo.attached?  %>
          <%= link_to "", edit_user_registration_path(@profile), class: "btn btn-outline-secondary text-white fa-solid fa-pen-to-square position-absolute top-0 end-0" %>
            <%= cl_image_tag @profile.profile_photo.key, alt:"Profile image", crop: :fill %>
          <% else %>
            <%= link_to "", edit_user_registration_path(@profile), class: "btn btn-outline-secondary text-white fa-solid fa-pen-to-square position-absolute top-0 end-0" %>
            <%= image_tag 'avatar.webp', alt: "Profile image", crop: :fill %>
          <% end %>
          <div class="card-body">
            <p class="card-text border-bottom py-3"><strong>first name: </strong><%= @profile.first_name %></p>
            <p class="card-text border-bottom py-3"><strong>last name: </strong><%= @profile.last_name %></p>
            <p class="card-text border-bottom py-3"><i class="fa-solid fa-location-dot"></i> <%= @profile.address %></p>
            <p class="card-text py-3"><i class="fa-solid fa-envelope"></i> <%= @profile.email %></p>
          </div>
        </div>
      </div>
    <div class="col">
    <h2>List of your powers/items (<%= @profile.powers.count  %>)</h2>
      <% @profile.powers.each do |power|  %>
      <div>
        <%= link_to power.name, power_path(power) %>
        <%= link_to "delete", power_path(power), class: "btn btn-outline-danger",
                data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
         <%= link_to "Edit power", edit_power_path(power), class: "btn btn-outline-primary"%>
      </div>
      <% end %>
          <%= link_to "Add power", new_power_path(@power), class: "comic-button"%>
    </div>
  </div>
    <div class="row">
      <div class="col mt-3"><h2>Bookings</h2>
        <% @profile.bookings.each do |booking|  %>
        <div><%= booking.id %></div>
      <% end %>
    </div>
      </div>
    </div>
  </div>
</div>
