<div class="container">
  <div class="row mt-3">
    <h1 class="text-center mb-5"> Dashboard of <%= @profile.pseudo %></h1>
  </div>
  <div class="row">
    <div class="col-3">
      <div class="card">
        <% if @profile.profile_photo.attached?  %>
        <%= link_to "", edit_user_registration_path(@profile), class: "button-log position-absolute top-0 start-100 translate-middle fa-solid fa-pen" %>
        <%= cl_image_tag @profile.profile_photo.key, alt:"Profile image", crop: :fill %>
        <% else %>
        <%= link_to "", edit_user_registration_path(@profile), class: "button-log position-absolute top-0 start-100 translate-middle fa-solid fa-pen" %>
        <%= image_tag 'avatar.webp', alt: "Profile igmage", crop: :fill %>
        <% end %>
        <div class="card-body">
          <p class="card-text border-bottom py-3"><strong>First name: </strong><%= @profile.first_name %></p>
          <p class="card-text border-bottom py-3"><strong>Last name: </strong><%= @profile.last_name %></p>
          <p class="card-text border-bottom py-3"><i class="fa-solid fa-location-dot"></i> <%= @profile.address %></p>
          <p class="card-text py-3"><i class="fa-solid fa-envelope"></i> <%= @profile.email %></p>
        </div>
      </div>
    </div>
    <div class="col">
      <h2>List of your powers/items (<%= @profile.powers.count %>)</h2>
      <div class="card-container mt-4">
        <% @profile.powers.each do |power| %>
          <div class="card-power position-relative">
            <%= link_to "", power_path(power), class: "button-log position-absolute top-0 start-100 translate-middle fa-solid fa-trash", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
            <%= link_to power_path(power), class: "card-link m-auto my-4" do %>
            <% if power.photo.attached? %>
              <div class="card-img" style="background-image: url(<%= cl_image_path power.photo.key %>)">
              </div>
            <% else %>
              <div class="card-img default-image-power"></div>
            <% end %>
              <div class="card-info px-3">
                <p class="text-title <%= 'text-decoration-none' %>"><%= power.name %></p>
                <p class="text-body <%= 'text-decoration-none' %>"><%= power.user.pseudo %></p>
              </div>
              <div class="d-flex justify-content-center">
                <div class="border border-dark opacity-25 w-75"></div>
              </div>
              <div class="card-footer p-3">
                <span class="text-title">$<%= power.price %> <p class="per-day">/per day</p></span>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
      <%= link_to new_power_path(@power) do%>
      <button class="button-confirm">Add power</button>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mt-5">
      <h3> My bookings</h3>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Power</th>
            <th scope="col">Price</th>
            <th scope="col">Owner</th>
            <th scope="col">Start</th>
            <th scope="col">End</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <% @profile.bookings.each do |booking| %>
            <td class="align-middle"><%= booking.id%></td>
            <td class="align-middle"><%= booking.power.name%></td>
            <td class="align-middle">$ <%= booking.total_price%></td>
            <td class="align-middle"><%= booking.power.user.pseudo%></td>
            <td class="align-middle"><%= booking.start_date%></td>
            <td class="align-middle"><%= booking.end_date%></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
